{% extends 'config/base.html.j2' %}

{% block config_base %}
<div id="page-pakon-plugin" class="config-page">
{% include '_messages.html.j2' %}

<div id="filter-form">
<div id="spinner"></div>
<fieldset>
    <legend>
        <h3>{% trans %}Filtering:{% endtrans %}</h3>
    </legend>
    <label for="date-from" title="Date From">
        <span>{% trans %}From:{% endtrans %}</span>
        <input name="time-from" id="time-from" type="time" onChange="date_changed=true;">
        <input name="date-from" id="date-from" type="date" onChange="date_changed=true;">
    </label>
    <label for="date-to" title="Date To">
        <span>{% trans %}To:{% endtrans %}</span>
        <input name="time-to" id="time-to" type="time" onChange="date_changed=true;">
        <input name="date-to" id="date-to" type="date" onChange="date_changed=true;">
    </label>
    <label for="aggregate" tabindex="0" class="checkbox">
        {% trans %}Aggregation by hostname:{% endtrans %}
        <input name="aggregate" id="aggregate" tabindex="-1" checked="" style="pointer-events: none;" type="checkbox">
    </label>
    <label for="hostname-filter">
        {% trans %}Only following hostnames:{% endtrans %}
        <br>
        <textarea name="hostname-filter" id="hostname-filter" placeholder="{% trans %}All hostnames if empty{% endtrans %}" onChange="filter_changed=true;"></textarea>
    </label>
    <label for="srcMAC-filter">
        {% trans %}Only following clients:{% endtrans %}
        <br>
        <textarea name="client-filter" id="client-filter" placeholder="{% trans %}All clients if empty{% endtrans %}" onChange="filter_changed=true;"></textarea>
    </label>
    <label for="apply-changes">
        <input id="apply-changes" class="button" onClick="apply()" value="{% trans %}Apply changes{% endtrans %}" type="submit">
    </label>
</fieldset>
</div>

    <h3>{% trans %}Overview{% endtrans %}</h3>
<div id="tagcloud"></div>

    <h3>{% trans %}Results{% endtrans %}</h3>
<div id="pakon-results">
    <table id="pakon-results-table">
    <thead><tr>
       <th></th>
       <th class="sortable"><i></i>{% trans %}Date{% endtrans %}</th>
       <th class="sortable"><i></i>{% trans %}Duration{% endtrans %}</th>
       <th class="sortable"><i></i>{% trans %}Client{% endtrans %}</th>
       <th class="sortable"><i></i>{% trans %}Hostname{% endtrans %}</th>
       <th class="sortable"><i></i>{% trans %}Port{% endtrans %}</th>
       <th class="sortable"><i></i>{% trans %}Sent{% endtrans %}</th>
       <th class="sortable"><i></i>{% trans %}Received{% endtrans %}</th>
    </tr></thead><tbody id="pakon-table-data">
    </table>
    <div id="pakon-pager">
      <p id="pakon-pager-page"></p>
      <select id="pakon-pager-pagesize" onChange="dnd(); page_size = this.value; wrk.postMessage({'command': 'page', 'page_size': this.value, 'page': 0});">
        <option value="50">50 {% trans %}per page{% endtrans %}</option>
        <option value="100">100 {% trans %}per page{% endtrans %}</option>
        <option value="200">200 {% trans %}per page{% endtrans %}</option>
        <option value="500">500 {% trans %}per page{% endtrans %}</option>
        <option value="0">{% trans %}everything{% endtrans %}</option>
      </select>
    </div>
</div>

<p id="nodata" style="visible: none">No data</p>

</div>
{% endblock %}
