#pakon-results td,
#pakon-results th {
	padding: 0.3em 0.8em;
	border-bottom: 1px solid #fff;
	white-space: nowrap;
}

#pakon-results tr:first-child td {
	padding-top: 0.5em;
}

#pakon-results tbody tr:nth-child(2n) td {
	background: #f2f2f2;
}

#pakon-results tbody tr:hover td {
	border-bottom: 1px solid #00a2e2;
}

#pakon-results th {
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	margin-bottom: 2px;
	position: relative;
	color: #000;
	padding-left: 1.4rem;
	text-align: left;
}

tbody td:nth-child(1),
tbody td:nth-child(2),
tbody td:nth-child(6),
tbody td:nth-child(7) {
	text-align: right;
}

td[style] {
	background-image: linear-gradient(to top, #eee, #eee);
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: 0% 0.2em;
}

tbody td:nth-child(4) span:not(.clickable) {
	display: none;
}

.chart span {
	font-size: 0.8em;
}

.clickable {
	cursor: pointer;
	font-size: 1.2em;
	color: blue;
	text-decoration: underline;
	user-select: none;
}

.improved {
	display: none;
}

.tags>span {
	position: relative;
	caret-color: red;
	background: #ddd;
	border-radius: 1em;
	padding: 0.3em 0.5em;
	margin-right: 1em;
}

.tags>span::after {
	font-family: "Font Awesome 5 Free", FontAwesome;
	content: '\f057'; /* times (\f00d is Bugged!!!) */
	background: #aaa;
	color: #fff;
	border-radius: 0.5em;
	text-align: center;
	position: absolute;
	display: inline-block;
	width: 0.9em;
	right: -1em;
	cursor: pointer;
}

div[contenteditable] {
	border: 1px inset #aaa;
	padding: 0.5em;
	min-height: 1.6em;
	border-radius: 0.4em;
}

.chart {
	display: inline-block;
	padding-left: 0;
	list-style-type: none;
	font-size: 0;
	width: 395px;
	max-width: 395px;
}

.chart>li {
	background: #aaa;
	font-size: 1rem;
	overflow: visible;
	white-space: nowrap;
}

.clickable.filter {
	position: relative;
	display: inline-block;
	width: 1rem;
}

.fas {
	text-decoration: none;
	font-size: 8px;
}

.clickable.current::before {
	content: '';
	display: block;
	position: absolute;
	margin-left: -1.1rem;
	margin-right: 0.5rem;
	border: 0.5rem solid transparent;
}

[data-order="asc"].current::before {
	border-bottom-color: black;
}

[data-order="desc"].current::before {
	margin-top: 0.5rem;
	border-top-color: black;
}

label[for="date-from"] span,
label[for="date-to"] span {
	display: inline-block;
	position: relative;
	min-width: 80px;
	padding-right: 2rem;
}

label[for="date-from"] span::after,
label[for="date-to"] span::after {
	font-family: "Font Awesome 5 Free", FontAwesome;
	content: '\f073'; /* calendar */
	position: absolute;
	display: inline-block;
	right: 0;
}

label[for="time-from"] span,
label[for="time-to"] span {
	position: absolute;
	font-size: 0;
}

label[for="time-from"] span::after,
label[for="time-to"] span::after {
	font-family: "Font Awesome 5 Free", FontAwesome;
	content: '\f017';	/* clock */
	position: absolute;
	display: inline-block;
	font-size: 1rem;
	margin: 0.2rem 0 0 0.8rem;
}

label[for="time-from"] input,
label[for="time-to"] input {
	margin-left: 2rem;
}

.placeholder {
	color: #666;
}

#pakon-results-statistics {
	width: 1250px;
	min-height: 222px;
}

.redundant {
	color: #ddd;
}

#pakon-results-statistics {
	width: 1250px;
}

dialog.loading {
	visibility: hidden;
	display: block;
	position: fixed;
	background: url(/foris/config/static/img/loader.gif);
	width: 120px;
	height: 120px;
	padding: 0;
	border: 0;
	opacity: 0;
	transition: all 0.5s;
	top: 45%;
	transform: translateX(-50%);
}

dialog.loading[open] {
	visibility: visible;
	top: 50%;
	opacity: 1;
}