#pakon-results td, #pakon-results th {
  padding: 0.3em 0.8em;
  border-bottom: 1px solid #fff;
}
#pakon-results tr:first-child td {
  padding-top: 0.5em;
}
#pakon-results tbody tr:nth-child(2n) td {
  background: #f2f2f2;
}
#pakon-results tbody tr:hover td {
  border-bottom: 1px solid #00a2e2;
}
#pakon-results th {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin-bottom: 2px;
}
#pakon-results tbody td:nth-child(1) {
  white-space: nowrap;
}
